@using FruitsShop.Areas.Admin.Models
@model IList<AdminMenu>

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin Control <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
       @foreach (var item in Model.Where(m => m.ItemLevel == 1).OrderBy(n => n.ItemOrder))
        {
            var Pid = item.AdminMenuID;
            var Smenu = Model.Where(p => p.ParentLevel == Pid).OrderBy(p => p.ItemOrder).ToList();
    <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/@item.ControllerName/@item.ActionName" data-target="#@item.ItemTarget"
           aria-expanded="true" aria-controls="@item.AreaName">
            <i class="fas fa-fw fa-cog"></i>
            <span>@item.ItemName</span>
        </a>
        <div id="@item.IdName" class="collapse" aria-labelledby="@item.Arealabelledby" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                    @foreach (var smn in Smenu)
                    {
                        <a class="collapse-item" href="/admin/@smn.ControllerName/@smn.ActionName">@smn.ItemName</a>
                    }
            </div>
        </div>
    </li>
    }


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    

</ul>

