@using FruitsShop.Utilities;
@model Blog
@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<BlogComment> blogComment = ViewBag.blogComment;
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
	.button-1 {
		background-color: #F28123;
		border: none !important;
		color: #051922;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 15px 25px;
		border-radius: 200px;
		
	}
</style>
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Read the Details</p>
					<h1>Single Article</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- single article section -->
<div class="mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="single-article-section">
                    <div class="single-article-text">
                        
						<div style="background-image: url(@Model.Images);height:450px"></div>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i> @Model.Author</span>
							<span class="date"><i class="fas fa-calendar"></i> @Model.CreatedDate.Value.ToString("dd/MM/yyyy")</span>
						</p>
						<h2>@Model.Title</h2>
						<p>@Model.Depict</p>
						<p>@Model.Contents</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum est aperiam voluptatum id cupiditate quae corporis ex. Molestias modi mollitia neque magni voluptatum, omnis repudiandae aliquam quae veniam error! Eligendi distinctio, ab eius iure atque ducimus id deleniti, vel alias sint similique perspiciatis saepe necessitatibus non eveniet, quo nisi soluta.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae nemo quaerat, doloribus obcaecati odio!</p>
					</div>

					<div class="comments-list-wrap" id="blog_comment">
						<h3 class="comment-count-title">@blogComment.Count() Comments</h3>
						<div class="comment-list">
							@foreach(var item in blogComment){
							<div class="single-comment-body">
								<div class="comment-user-avater">
									<img src="assets/img/avaters/avatar1.png" alt="">
								</div>
								<div class="comment-text-body">
										<h4>@item.Name <span class="comment-date">@item.CreatedDate.Value.ToString("dd/MM/yyyy")</span> <a href="#">reply</a></h4>
									<p>@item.Detail</p>
								</div>
							</div>
							}
							
						</div>
					</div>

					<div class="comment-template">
						<h4>Leave a comment</h4>
						<p>Nếu bạn có ý kiến ​​​​đừng ngần ngại gửi cho chúng tôi ý kiến ​​​​của bạn.</p>
						<form type="POST"  onSubmit="return valid_datas(this);">
							<p>
								<input id="name"type="text" placeholder="Your Name">
								<input id="email"type="email" placeholder="Your Email">
							</p>
							<p><textarea name="comment" id="message" cols="30" rows="10" placeholder="Your Message"></textarea></p>
							<input class="button-1" type="button" value="Submit" id="send">
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="sidebar-section">
					@await Component.InvokeAsync("RecentPost")
					<div class="archive-posts">
						<h4>Archive Posts</h4>
						<ul>
							<li><a href="single-news.html">JAN 2019 (5)</a></li>
							<li><a href="single-news.html">FEB 2019 (3)</a></li>
							<li><a href="single-news.html">MAY 2019 (4)</a></li>
							<li><a href="single-news.html">SEP 2019 (4)</a></li>
							<li><a href="single-news.html">DEC 2019 (3)</a></li>
						</ul>
					</div>
					@await Component.InvokeAsync("Tags")
					
			</div>
		</div>
	</div>
</div>
	<script>
		$(document).ready(function () {
			$("#send").click(function () {
				// Get input values
				var _id = $("#blog_id").val();
				var _name = $("#name").val();
				var _email = $("#email").val();
				var _message = $("#message").val();
				
				// Check if any field is empty
				if (!_name || !_email || !_message) {
					toastr.error('Please fill in all fields');
					return;
				}

				// If all fields are filled, proceed with AJAX call
				$.ajax({
					url: "/Blog/Create",
					type: "POST",
					data: { id: _id, name: _name, email: _email, message: _message },
					success: function (result) {
						if (result) {
							// Clear input fields
							$("#name").val("");
							$("#email").val("");
							$("#message").val("");

							// Get the current date


							// Build HTML for the new comment
							_sHtml = '<div class="single-comment-body">' +
								'<div class="comment-user-avater"><img src="~/assets/img/avaters/avatar1.png" alt=""></div>' +
								'<div class="comment-text-body">' +
								'<h4>' + _name + ' <span class="comment-date"> </span> <a href="#">reply</a></h4>' +
								'<p>' + _message + '</p>' +
								'</div>' +
								'</div>';

							// Append the new comment to the comment section
					
							$("#blog_comment").append(_sHtml);
					
							// Show success message
							toastr.success('Gửi thành công');
						} else {
							// Show error message
							toastr.error('Gửi không thành công');
						}
					}
				});
			});
		});
	</script>
